@tailwind base;
@tailwind components;
@tailwind utilities;


/*Light*/
@font-face {
    font-family: 'Karla';
    font-weight: 300;
    font-style: normal;
    src: url("/public/assets/fonts/Karla-Light.ttf");
}

/*Regular*/
@font-face {
    font-family: 'Karla';
    font-weight: 400;
    font-style: normal;
    src: url("/public/assets/fonts/Karla-Regular.ttf");
}

/*Medium*/
@font-face {
    font-family: 'Karla';
    font-weight: 500;
    font-style: normal;
    src: url("/public/assets/fonts/Karla-Medium.ttf");
}

/*Semibold*/
@font-face {
    font-family: 'Karla';
    font-weight: 600;
    font-style: normal;
    src: url("/public/assets/fonts/Karla-SemiBold.ttf");
}

/*Bold*/
@font-face {
    font-family: 'Karla';
    font-weight: 700;
    font-style: normal;
    src: url("/public/assets/fonts/Karla-Bold.ttf");
}

/*ExtraBold*/
@font-face {
    font-family: 'Karla';
    font-weight: 800;
    font-style: normal;
    src: url("/public/assets/fonts/Karla-ExtraBold.ttf");
}

/*html {*/
/*    background-color: #FEF8EA;*/
/*}*/
