@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Inter Bold';
    font-style: normal;
    src: url("/public/assets/fonts/Inter-Bold.woff2");
}

@font-face {
    font-family: 'Inter Light';
    font-style: normal;
    src: url("/public/assets/fonts/Inter-Light.woff2");
}

@font-face {
    font-family: 'Inter Medium';
    font-style: normal;
    src: url("/public/assets/fonts/Inter-Medium.woff2");
}

@font-face {
    font-family: 'Inter Regular';
    font-style: normal;
    src: url("/public/assets/fonts/Inter-Regular.woff2");
}

@font-face {
    font-family: 'Inter SemiBold';
    font-style: normal;
    src: url("/public/assets/fonts/Inter-SemiBold.woff2");
}

@font-face {
    font-family: 'Karla Bold';
    font-style: normal;
    src: url("/public/assets/fonts/Karla-Bold.ttf");
}
@font-face {
    font-family: 'Karla ExtraBold';
    font-style: normal;
    src: url("/public/assets/fonts/Karla-ExtraBold.ttf");
}

@font-face {
    font-family: 'Karla Light';
    font-style: normal;
    src: url("/public/assets/fonts/Karla-Light.ttf");
}
@font-face {
    font-family: 'Karla Medium';
    font-style: normal;
    src: url("/public/assets/fonts/Karla-Medium.ttf");
}

@font-face {
    font-family: 'Karla Regular';
    font-style: normal;
    src: url("/public/assets/fonts/Karla-Regular.ttf");
}




@font-face {
    font-family: 'Karla SemiBold';
    font-style: normal;
    src: url("/public/assets/fonts/Karla-SemiBold.ttf");
}





html {
    background-color: #FEF8EA;
}
